<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" novalidate>
            <div class="form-group clear-mrgb">
                <label class="control-label col-lg-4">账号（邮箱地址）<span class="sign-must">*</span></label>
                <div class="col-lg-7">
              <!--       <input class="form-control" type="text" ng-model="userList.init.modalForm.email" placeholder="" ng-readonly="userList.init.actionType === 'update'"> -->
                    <input class="form-control" type="text" ng-model="userList.init.modalForm.email" ng-change="validateForm('email','user')" placeholder="" ng-readonly="userList.init.actionType === 'update'">
                    <div class="validate-container">
                        <span ng-if="validate.user.email.dirty && validate.user.email.error.required">
                            邮箱账号不能为空
                        </span>
                        <span ng-if="validate.user.email.dirty && validate.user.email.error.format">
                            邮箱账号需满足格式
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="valid-error" ng-if=" validate.user.email.dirty && validate.user.email.invalid"></i>
                    <i class="valid-success" ng-if=" validate.user.email.dirty && validate.user.email.valid"></i>
                </div>
            </div>
            <div class="form-group clear-mrgb">
                <label class="control-label col-lg-4">姓名<span class="sign-must">*</span></label>
                <div class="col-lg-7">
                    <!-- <input class="form-control" type="text" ng-model="userList.init.modalForm.username"
                            placeholder=""> -->
                    <input class="form-control" type="text" ng-model="userList.init.modalForm.username"
                           ng-change="validateForm('username','user')" placeholder="">
                    <div class="validate-container">
                        <span ng-if="validate.user.username.dirty && validate.user.username.error.required">
                            用户姓名不能为空
                        </span>
                        <span ng-if="validate.user.username.dirty && validate.user.username.error.format">
                            用户姓名不超过32个字符,中文不能超过16个字
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="valid-error" ng-if=" validate.user.username.dirty && validate.user.username.invalid"></i>
                    <i class="valid-success" ng-if=" validate.user.username.dirty && validate.user.username.valid"></i>
                </div>
            </div>
            <div class="form-group clear-mrgb">
                <label class="control-label col-lg-4">手机号码<span class="sign-must">*</span></label>
                <div class="col-lg-7">
                    <!-- <input class="form-control" type="text" ng-model="userList.init.modalForm.mobile"
                           placeholder=""> -->
                    <input class="form-control" type="text" ng-model="userList.init.modalForm.mobile"
                           ng-change="validateForm('mobile','user')" placeholder="">
                    <div class="validate-container">
                        <span ng-if="validate.user.mobile.dirty && validate.user.mobile.error.required">
                            手机号码不能为空
                        </span>
                        <span ng-if="validate.user.mobile.dirty && validate.user.mobile.error.format">
                            手机号码格式有误
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="valid-error" ng-if=" validate.user.mobile.dirty && validate.user.mobile.invalid"></i>
                    <i class="valid-success" ng-if=" validate.user.mobile.dirty && validate.user.mobile.valid"></i>
                </div>
            </div>
        </form>
    </div>
</div>
