<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" novalidate>
            <div class="form-group clear-mrgb">
                <label class="control-label col-lg-4">站点<span class="sign-must">*</span></label>
                <div class="col-lg-7">
                    <select class="form-control" ng-model="initData.modalForm.siteId" ng-options="v.site_id as v.site_name for (k , v) in initData.siteOptions" ng-change="validateForm('site')" ng-disabled="initData.actionType == 'update'">
                         <option value="">--请选择--</option>
                    </select>
                    <div class="validate-container">
                        <span ng-if="validate.site.dirty && validate.site.error.required">
                            站点不能为空。
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="valid-error" ng-if=" validate.site.dirty && validate.site.invalid"></i>
                    <i class="valid-success" ng-if=" validate.site.dirty && validate.site.valid"></i>
                </div>
            </div>
            <div class="form-group clear-mrgb">
                <label class="control-label col-lg-4">人员<span class="sign-must">*</span></label>
                <div class="col-lg-7">
                    <select class="form-control" ng-model="initData.modalForm.userId" ng-options="v.user_id as v.username for (k , v) in initData.userOptions" ng-change="validateForm('user')" ng-disabled="initData.actionType == 'update'">
                         <option value="">--请选择--</option>
                    </select>
                    <div class="validate-container">
                        <span ng-if="validate.user.dirty && validate.user.error.required">
                            人员不能为空。
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="valid-error" ng-if=" validate.user.dirty && validate.user.invalid"></i>
                    <i class="valid-success" ng-if=" validate.user.dirty && validate.user.valid"></i>
                </div>
            </div>
            <div class="form-group clear-mrgb">
                <label class="control-label col-lg-4">告警级别<span class="sign-must">*</span></label>
                <div class="col-lg-7">
                    <input ng-model="initData.modalForm.severityId" type="hidden" value="0">
                    <label class="checkbox-inline checkbox-7rem" ng-repeat="item in initData.warnLevelOptions">
                        <input ng-model="initData.modalForm.severity[item.severity_id]" type="checkbox" ng-click="validateForm('severity')" ng-checked="initData.modalForm.severity[item.severity_id]">{{item.severity_name}}
                    </label>
                    <div class="validate-container">
                        <span ng-if="validate.severity.dirty && validate.severity.error.required">
                            告警级别不能为空。
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="valid-error" ng-if=" validate.severity.dirty && validate.severity.invalid"></i>
                    <i class="valid-success" ng-if=" validate.severity.dirty && validate.severity.valid"></i>
                </div>
            </div>
            <div class="form-group clear-mrgb">
                <label class="control-label col-lg-4">告警状态<span class="sign-must">*</span></label>
                <div class="col-lg-7">
                    <input ng-model="initData.modalForm.statusId" type="hidden" value="0">
                    <label class="checkbox-inline checkbox-7rem" ng-repeat="item in initData.warnStatusOptions">
                        <input ng-model="initData.modalForm.status[item.status_id]" type="checkbox" ng-click="validateForm('status')" ng-checked="initData.modalForm.status[item.status_id]">{{item.status_name}}
                    </label>
                    <div class="validate-container">
                        <span ng-if="validate.status.dirty && validate.status.error.required">
                            告警状态不能为空。
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="valid-error" ng-if=" validate.status.dirty && validate.status.invalid"></i>
                    <i class="valid-success" ng-if=" validate.status.dirty && validate.status.valid"></i>
                </div>
            </div>
            <div class="form-group clear-mrgb">
                <label class="control-label col-lg-4">通知方式<span class="sign-must">*</span></label>
                <div class="col-lg-7">
                    <input ng-model="initData.modalForm.methodId" type="hidden" value="0">
                    <label class="checkbox-inline checkbox-7rem" ng-repeat="item in initData.noticeMethodOptions">
                        <input ng-model="initData.modalForm.method[item.method_id]" type="checkbox" ng-click="validateForm('method')" ng-checked="initData.modalForm.method[item.method_id]">{{item.method_name}}
                    </label>
                    <div class="validate-container">
                        <span ng-if="validate.method.dirty && validate.method.error.required">
                            通知方式不能为空。
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="valid-error" ng-if=" validate.method.dirty && validate.method.invalid"></i>
                    <i class="valid-success" ng-if=" validate.method.dirty && validate.method.valid"></i>
                </div>
            </div>
        </form>
    </div>
</div>
