.btn-orange,
.btn-gray{
    width: 200px;
    padding: 4px 18px;
    color: #fff;
}
.btn-orange{
    border-color: #eea236;
    background-color: #f86f4b;
}
.btn-gray{
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-orange:hover,
.btn-orange:focus
{
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-orange.active,
.btn-orange:active{
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-gray:hover,
.btn-gray:focus
{
    color: #fff;
    border-color: #204d74;
    background-color: #286090;
}
.btn-gray.active,
.btn-gray:active{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-import{
    width:60px;
    margin-top: -5px;
    margin-left:6px;
}
