.btn-orange,
.btn-gray{
    width: 200px;
    padding: 4px 18px;
    color: #fff;
}
.btn-orange{
    border-color: #bbb;
    background-color: #bbb;
}
.btn-gray{
    background-color: #555;
    border-color: #555;
}
.btn-orange:hover,
.btn-orange:focus
{
    color: #fff;
    background-color: #353638;
    border-color: #353638;
}
.btn-orange.active,
.btn-orange:active{
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-gray:hover,
.btn-gray:focus
{
    color: #fff;
    background-color: #353638;
    border-color: #353638;
}
.btn-gray.active,
.btn-gray:active{
    color: #fff;
    background-color: #353638;
    border-color: #353638;
}
.btn-import{
    padding-left: 5px;
    height: 28px;
    width: 78px;
    margin-top: -4px;
    margin-left:4px;
}
