.page-info{
	font-size: 12px;
	line-height: 26px;
	color: #bbb;
    font-style: normal;
}
.pageSize{
	display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: 20px;
    padding: 0px 4px;
    color: #444;
    top: -2px;
    position: relative;
    font-size: 12px;
}
.ul-pager>li>a,
.ul-pager>li>span {
    padding: 1px 6px;
    margin: 4px;
    border-radius: 4px;
}
.ul-pager>.dot>a:focus,
.ul-pager>.dot>a:hover,
.ul-pager>.dot>span:focus,
.ul-pager>.dot>span:hover {
    color: #337ab7;
    background-color: #fff;
    border-color: #ddd;
}
.icon-prev,
.icon-next{
    display: inline-block;
    width: 8px;
    height: 12px;
    margin-bottom: -1px;
}
.icon-prev{
    background: url(../../images/icons/prev-icon.png) no-repeat center center;
}
.icon-next{
    background: url(../../images/icons/next-icon.png) no-repeat center center;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #9ca09f;
    border-color: #9ca09f;
}
.pagination>li>a, .pagination>li>span {   
    color: #666;
}