<!-- 高级搜索 -->
<form ng-init="init()">
    <div class="col-lg-12 col-md-12 top-right pdl0 mgt10">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <select id="J_site" ng-model="advanceQuery.siteId" class="selectpicker show-tick  form-control advance-select" multiple data-live-search="false" >
                <!-- 站点 -->
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <select id="J_author" ng-model="advanceQuery.authorId" class="selectpicker show-tick form-control advance-select" multiple data-live-search="false" >
                <!-- 工单所有者 -->
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <select id="J_orderType" ng-model="advanceQuery.orderTypeId" class="selectpicker show-tick form-control advance-select" multiple data-live-search="false" >
                <!-- 工单类型 -->
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <select id="J_problemType" ng-model="advanceQuery.problemTypeId" class="selectpicker show-tick form-control advance-select" multiple data-live-search="false" >
                <!-- 事件类型 -->
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <select id="J_orderStatus" ng-model="advanceQuery.orderStatusId" class="selectpicker show-tick form-control advance-select" multiple data-live-search="false" ng-if="!commonFlag">
                <!-- 工单状态 -->
            </select>
            <select class="form-control" ng-model="advanceQuery.orderStatusId" ng-options = "item.id as item.name for item in initData.orderStatusList" disabled="disabled" ng-if="commonFlag">
                <!-- 工单状态 -->
            </select>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 top-right pdl0 mgt10">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <input type="text" id="J_createStartTime" class="form-control dataImg" placeholder="创建开始时间" ng-model="advanceQuery.createStart" readonly>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <input type="text" id="J_createEndTime" class="form-control dataImg" placeholder="创建结束时间" ng-model="advanceQuery.createEnd" readonly>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <input type="text" id="J_closeStartTime" class="form-control dataImg" placeholder="关闭开始时间" ng-model="advanceQuery.closeStart" readonly>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <input type="text" id="J_closeEndTime" class="form-control dataImg" placeholder="关闭结束时间" ng-model="advanceQuery.closeEnd" readonly>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 top-right pdl0 mgt10">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <select class="form-control" ng-model="advanceQuery.durationSymbol" ng-options = "item.id as item.name for item in initData.durationOptions"
                    ng-class="{'select-placeholder': !advanceQuery.durationSymbol}" ng-change="clearSymbolValue('durationDays');">
                <option value="">请选择条件</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <input type="text" class="form-control" placeholder="持续天数" ng-model="advanceQuery.durationDays" ng-disabled="!advanceQuery.durationSymbol">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <select class="form-control" ng-model="advanceQuery.idleSymbol" ng-options = "item.id as item.name for item in initData.durationOptions"
                    ng-class="{'select-placeholder': !advanceQuery.idleSymbol}" ng-change="clearSymbolValue('idleDays');">
                <option value="">请选择条件</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <input type="text" class="form-control" placeholder="滞留天数" ng-model="advanceQuery.idleDays" ng-disabled="!advanceQuery.idleSymbol">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a role="button" class="btn btn-default btn-query fs12" ng-click="advanceSearch(true);">搜索</a>
            <a role="button" class="btn btn-default btn-query fs12 mgl10" ng-click="advanceClean(true);">重置</a>
        </div>
    </div>
</form>
