<div ng-init="init()">
    <div class="layout-container" style="padding-top: 15px;">
        <div class="row box-all">
            <div class="col-lg-12 col-md-12 box-all box-pading">
                <div class="ds-panel box-all" style="overflow-x: hidden">
                    <form class="form-horizontal clearfix">
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>站点基本信息：</p>
                            <div class="col-lg-offset-2 clearfix">
                                <label class="pull-left">站点名：</label>
                                <div class="col-lg-6">
                                    {{formData.site_name}}
                                </div>
                            </div>
                            <div class="col-lg-offset-2 clearfix">
                                <label class="pull-left">站点ID：</label>
                                <div class="col-lg-6">
                                    {{formData.site_id}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>告警基本信息：</p>
                            <div class="col-lg-offset-2 clearfix">
                                <label class="pull-left">告警编号：</label>
                                <div class="col-lg-6">
                                    {{formData.alert_id}}
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form class="form-horizontal clearfix">
                        <div class="form-group">
                            <div class="col-lg-offset-1">
                                <label class="control-label pull-left">工单标题：</label>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <input type="text" class="form-control input-sm" ng-model="formData.name" placeholder="工单标题" ng-disabled="formData.disabled">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-1">
                                <label class="control-label pull-left">故障类型：</label>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <select class="form-control input-sm" ng-disabled="formData.disabled">
                                        <option>请选择故障类型</option>
                                        <option ng-repeat="problem in formData.problem_type">{{problem}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-1">
                                <label class="control-label pull-left">处理类型：</label>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <select class="form-control input-sm" ng-disabled="formData.disabled">
                                        <option>请选择处理类型</option>
                                        <option ng-repeat="server in formData.server_type">{{server}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form class="form-horizontal clearfix">
                        <div class="form-group">
                            <div class="col-lg-offset-1">
                                <label class="control-label pull-left">工单记录：</label>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <textarea class="form-control input-sm" cols="" rows="4" ng-model="formData.content" ng-disabled="formData.disabled" placeholder="填写工单处理记录"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-1">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="control-label pull-left" style="visibility: hidden">工单记录：</label>
                                    <input type="file" id="J_uploadFile_edit" style="display: none;">
                                    <button class="btn btn-default btn-xs" ng-click="uploadFile();" ng-if="!formData.disabled">附件上传
                                    </button>
                                    <span>上传仅支持：PDF,TXT,DOC,JEPG,JPG......</span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <!--TODO-->
                    <div class="list-group">
                        <a href=""><img src="../../src/images/toolBox/demo.png"/></a>
                    </div>
                    <hr>
                    <div class="clearfix form-group">
                        <div ng-if="commonFlag" class="col-lg-offset-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button class="btn btn-default btn-sm" ng-click="saveWorkOrder()" ng-if="!formData.disabled">保存</button>
                        </div>
                        <div ng-if="!commonFlag" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button class="btn btn-default btn-sm" ng-click="cancel()" ng-if="!formData.disabled">取消
                            </button>
                        </div>
                        <div ng-if="commonFlag" class="col-lg-offset-4 col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button class="btn btn-info btn-sm" ng-click="updateWorkOrder()" ng-if="!formData.disabled">升级工单</button>
                        </div>
                        <div ng-if="!commonFlag" class="col-lg-offset-4 col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button class="btn btn-info btn-sm" ng-click="assignWorkOrder()" ng-if="!formData.disabled">指派工单</button>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button class="btn btn-info btn-sm" ng-click="closeWorkOrder()" ng-if="!formData.disabled">关闭工单</button>
                        </div>
                    </div>
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="" ng-click="tabTrans(true)"><a>处理记录</a></li>
                            <li class="" ng-click="tabTrans(false)"><a>操作记录</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="col-lg-12">
                                <div ng-if="tab.status" style="height: 100px;">
                                    <table class="table table-striped table-hover table-limit table-custom">
                                        <thead>
                                            <tr>
                                                <th>处理人</th>
                                                <th>内容</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{infoList.noteList.user_name}}</td>
                                                <td>{{infoList.noteList.text}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-if="!tab.status" style="height: 100px;">
                                    <table class="table table-striped table-hover table-limit table-custom">
                                        <thead>
                                        <tr>
                                            <th>处理人</th>
                                            <th>内容</th>
                                            <th>创建时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{infoList.recordList.user_name}}</td>
                                            <td>{{infoList.recordList.text}}</td>
                                            <td>{{infoList.recordList.create_at}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
