<div class="row row-reset height-full" ng-init="init()">
    <div class="col-lg-2 pdl0 pdr0">
        <div class="list-group menu-list" style="height:{{menuHeight}}px;overflow-y:auto;">
            <a ui-sref="main.workOrder.handling" ui-sref-active="active" class="list-group-item menu-item"><i class="icon icon-jm"></i>处理中的工单</a>
            <a ui-sref="main.workOrder.updating" ui-sref-active="active" class="list-group-item menu-item" ng-if="!commonFlag"><i class="icon icon-md"></i>待指派的工单</a>
            <a ui-sref="main.workOrder.closed" ui-sref-active="active" class="list-group-item menu-item"><i class="icon icon-lr"></i>已关闭的工单</a>
            <a ui-sref="main.workOrder.add" ui-sref-active="active" class="list-group-item menu-item"ng-if="commonFlag"><i class="icon icon-mt"></i>新建工单</a>
        </div>
    </div>

    <div class="col-lg-10 pdl0 pdr0 height-full">
        <div class="info-container info-container-adjust">
            <ui-view></ui-view>
        </div>
    </div>
</div>
