<div style="width:100%;margin:0 auto;">
	<div class="table-responsive">
		<table class="table table-hover table-custom">
			<tbody>
				<tr>
					<th title="站点名称">站点名称：<span class="text-muted">{{cache.siteObj.site_name}}</span></th>
					<th title="省">省：<span class="text-muted">{{cache.siteObj.province}}</span></th>
				</tr>
				<tr>
					<th title="市">市：<span class="text-muted">{{cache.siteObj.city}}</span></th>
					<th title="地址">地址：<span class="text-muted">{{cache.siteObj.address}}</span></th>
				</tr> 	
			</tbody>
		</table>
	</div>
</div>



